<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

                  <div>
                    
                    <h1>Logo</h1>
                  </div>

                  <h5>Sign into your account</h5>

                  <div>
                    <input type="email"  class="form-control" />
                    <label>Email address</label>
                  </div>

                  <div>
                    <input type="password"  class="form-control" />
                    <label>Password</label>
                  </div>

                  <div>
                    <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                  </div>
                  <br>
                  <p class="small text-muted">Forgot password?</p>
                  <p style="color: #393f81;">Don't have an account? Register here</a></p>
                  <p class="small text-muted">Terms of use.Privacy policy</p>
                  
             

              
           
        
       
     
    
  

</body>
</html>
